Repository 42-AI/SentimentalBB, pull requests merged in 2022-04, with the labels that each got.

#89 85 docs spec create specification document
  SpecDoc.md
  references/bibliography.md
  references/papers/ICCISci.2019.8716464.pdf
  references/papers/W11-0705.pdf
  references/papers/asi.23377.pdf
  references/papers/icicict.2014.6781346.pdf
Labels: documentation

#98 96 feat data make dataset twitter predict
  Setup.md
  SpecDoc.md
  data.dvc
  notebooks/Make_Dataset_twitter_predict.ipynb
  src/data/download/download_tweets.py
  src/data/main.py
  src/data/make_dataset/make_dataset_twitter.py
  src/models/main.py
Labels: feature

#105 104 feat data maka dataset traintest allocine
  SpecDoc.md
  data.dvc
  notebooks/Make_dataset_train_allocine.ipynb
  src/data/main.py
  src/data/make_dataset/allocine.py
  src/data/make_dataset/macron.py
  src/data/make_dataset/make_dataset_allocine.py
  src/tests/allocine_testset_120reviews.csv
Labels: feature

#107 script fixed and tweets for 04-04 downloaded
  .42AI/get_dataset_script1.sh
  data.dvc
  src/data/download/download_tweets.py
  src/data/main.py
Labels: data collect

#118 116 process data produce visual processed data for
  data.dvc
  reports/figures/bar_stacked_arthaud.png
  reports/figures/bar_stacked_dupont-aignan.png
  reports/figures/bar_stacked_hidalgo.png
  reports/figures/bar_stacked_jadot.png
  reports/figures/bar_stacked_lassalle.png
  reports/figures/bar_stacked_lepen.png
  reports/figures/bar_stacked_macron.png
  reports/figures/bar_stacked_melenchon.png
  reports/figures/bar_stacked_pecresse.png
  reports/figures/bar_stacked_poutou.png
  reports/figures/bar_stacked_roussel.png
  reports/figures/bar_stacked_zemmour.png
  scripts/all_predict.sh
  scripts/get_tweets.sh
  scripts/predict_huggingface.sh
  scripts/predict_naive_bayes.sh
  src/models/sklearn/Naive_Bayes.py
  src/tests/Zemmour_135_tweets_labelled.csv
  src/tests/dataset_allocine_100.csv
  src/tests/test_set_240tweets_labeled_0410.csv
  src/visualization/draws.py
  src/visualization/main.py
Labels: data collect

#124 122 process data produce visual of 1304
  data.dvc
  reports/figures/bar_stacked_lepen.png
  reports/figures/bar_stacked_macron.png
  scripts/all_predict.sh
  scripts/get_tweets.sh
Labels: data collect

#126 125 collect data collect data of 1404 + generation visu
  data.dvc
  notebooks/Test_to_delete.ipynb
  reports/figures/bar_stacked_lepen.png
  reports/figures/bar_stacked_macron.png
  scripts/get_tweets.sh
  src/tests/Zemmour_135_tweets_labelled.csv
  src/tests/dataset_allocine_100.csv
  src/tests/test_set_240tweets_labeled_0410.csv
Labels: data collect
